<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <!-- Parameters for URL configuration -->
    <parameter name="url" value="https://rfcautomationuat.mastersofterp.in/" />
    <parameter name="browser" value="chrome" />
    
    <test verbose="2" preserve-order="true" name="StudentAdmissionTest">
        <classes>
            <class name="StudentAdmissionTest.TestFiles.AL_Academic_AP_NewStudent_StudentFlow_Flow_01Test" />
            <class name="StudentAdmissionTest.TestFiles.AL_Aademic_PA_DemandCreation_StudentFlow_Flow_02Test" />
            <class name="StudentAdmissionTest.TestFiles.AL_Academic_FR_FeeCollection_StudentFlow_Flow_03Test" />
            <class name="StudentAdmissionTest.TestFiles.AL_Academic_PA_SectionEnrollment_StudentFlow_Flow_04Test" />
            <class name="StudentAdmissionTest.TestFiles.AL_Configuration_UM_BulkStudentIUserCreation_StudentFlow_Flow_05Test" />
            <class name="StudentAdmissionTest.TestFiles.AL_Configuration_UM_DeptWiseLinkAssign_StudentFlow_Flow_06Test" />
            <class name="StudentAdmissionTest.TestFiles.SL_StudentLogin_CreatePassword_StudentFlow_Flow_07Test" />
            <class name="StudentAdmissionTest.TestFiles.SL_Academic_SR_PersonalDetails_StudentFlow_Flow_08Test" />
            <class name="StudentAdmissionTest.TestFiles.SL_Academic_SR_DocumentUpload_StudentFlow_Flow_09Test" />
            <class name="StudentAdmissionTest.TestFiles.SL_Academic_SR_QualificationDetails_StudentFlow_Flow_10Test" />
            <class name="StudentAdmissionTest.TestFiles.SL_Academic_SR_CovidAndOtherInformation_StudentFlow_Flow_11Test" />
            <!-- Additional test classes from extraFiles package -->
            <class name="extraFiles.AL_Examination_PaperSet" />
            <class name="extraFiles.AL_Examination_Convocation_ConvocationMasterTest" />
        </classes>
    </test>
</suite>